.filters {
    background-color: #FFF;
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters .locations,
.filters .amenities {
    text-align: center;
    height: 100%;
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
}

.filters .locations h4,
.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    position: absolute;
    top: 100%;
    z-index: 10;
    background: #fafafa;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    display: none;
}

.locations .popover > li {
    margin-top: 15px;
}

.amenities .popover > li {
    margin-top: 7px;
}

.locations:hover .popover {
    display: block;
}

.amenities:hover .popover {
    display: block;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}

ul li h2 {
    font-size: 16px;
}

.filters button {
    float: right;
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 10px 30px;
}

.filters button:hover {
    opacity: 90%;
}

@media(max-width: 700px) {
    .filters {
        height: 50px;
    }

    .filters .locations h3,
    .filters .amenities h3 {
        font-size: 15px;
    }

    .filters .locations h4,
    .filters .amenities h4 {
        font-size: 12px;
    }

    .popover {
        padding-top: 5px;
    }

    .popover li h2 {
        font-size: 13px;
    }

    .popover li {
        font-size: 11px;
    }

    .filters button {
        font-size: 13px;
        height: 30px;
        width: 20%;
        margin: 10px 10px;
    }
}

@media(max-width: 560px) {
    .filters .locations,
    .filters .amenities {
        width: 35%;
    }

}

@media(max-width: 350px) {
    .filters .locations h3,
    .filters .amenities h3 {
        font-size: 12px;
    }

    .filters .locations h4,
    .filters .amenities h4 {
        font-size: 10px;
    }
}
