* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.container {
    width: 100%;
    min-height: calc(100vh - 190px);
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: inherit;
    padding-left: 20px;
    padding-right: 20px;
}

@media(max-width: 400px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
