header {
    background: #fff url("../images/logo.png") no-repeat 20px center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

@media(max-width: 700px) {
    header {
        background-size: 80px 40px;
    }
}

@media(max-width: 400px) {
    header {
        height: 50px;
        background-size: 60px 30px;
    }
}
