body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    align-self: flex-start;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
